.overlayEnter {
  opacity: 0;
}

.overlayEnterActive {
  transition: opacity 300ms ease-out;
  opacity: 1;
}

.overlayExit {
  opacity: 1;
}

.overlayExitActive {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.bodyEnter {
  transform: translateX(100%);
}

.bodyEnterActive {
  transition: opacity 100ms ease-out 200ms, transform 100ms ease-out 200ms;
  transform: translateX(0);
}

.bodyExit {
  transform: translateX(0);
  transform: scale(1);
}

.bodyExitActive {
  transform: translateX(100%);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.centerEnter {
  opacity: 0;
  transform: scale(0.01);
}

.centerEnterActive {
  transition: opacity 100ms ease-out 200ms, transform 100ms ease-out 200ms;
  opacity: 1;
  transform: scale(1);
}

.centerExit {
  opacity: 1;
  transform: scale(1);
}

.centerExitActive {
  opacity: 0;
  transform: scale(0.01);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
