@import '@styles/typography';

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 13px;

  padding: 20px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 12px;

  cursor: pointer;
}

.photo {
  width: 100%;
  height: 180px;
  text-align: center;
  margin-bottom: 13px;
  z-index: 1;

  img {
    max-width: 100%;
    height: 100%;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(4px);
    }
  }
}

.title {
  @include productName;

  &:first-letter {
    text-transform: capitalize;
  }
}

.composition {
  @include productDescription;
  margin-top: 13px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  @include productName;
}
