$color-accent-main: #ff9a1e;
$color-accent-light: #feb358;
$color-accent-dark: #ff8d02;

$color-text-main: #2d2e2d;
$color-text-light: #5f605f;

$color-background-main: #ffffff;
$color-background-light: #f5f5f5;
$color-background-dark: #eaeaea;

$color-notification-danger: #d56a6c;
$color-notification-success: #49b36d;
