@import '@styles/typography';
@import '@styles/variables';

.category {
  margin: 40px 0;
}

.title {
  @include title;

  &:first-letter {
    text-transform: capitalize;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
  // grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
