@import '@styles/variables.scss';
@import '@styles/typography.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  box-sizing: border-box;
  z-index: 1;

  display: flex;
  justify-content: end;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.3);
}

.body {
  position: relative;
  padding: 15px;
  width: 400px;
  height: 100vh;
  background: $color-background-main;
}

.close {
  position: absolute;
  right: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: rotate(45deg);
  }
}
