@import '@styles/typography';
@import '@styles/variables';

.body {
  display: grid;
  grid-template-columns: 400px 400px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 30px;
  border-radius: 0 20px 20px 0;
  background: $color-background-light;
}

.info {
}

.title {
  @include productName;

  margin-bottom: 10px;

  &:first-letter {
    text-transform: capitalize;
  }
}

.composition {
  @include productDescription;
  margin-bottom: 10px;

  &:first-letter {
    text-transform: capitalize;
  }
}
