@import '@styles/typography';
@import '@styles/variables';

.counter {
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    color: $color-background-main;
    width: 22px;
    height: 22px;
    background: $color-accent-light;
    transition: all 0.3s ease;

    &:hover {
      background: $color-accent-main;
    }

    &:active {
      transform: scale(0.9);
      background: $color-accent-dark;
    }

    &:disabled {
      background: $color-background-dark;
      cursor: default;
    }
  }
}

.count {
  @include productDescription;
}

.decrement {
  border-radius: 3px 0px 0px 3px;
}

.increment {
  border-radius: 0px 3px 3px 0px;
}
