@import '@styles/variables';

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $color-accent-main;
  text-align: center;
  cursor: pointer;

  span {
    color: $color-background-main;
    font-size: 14px;
    line-height: 43px;
    font-weight: 600;
  }
}
