@import '@styles/variables';
@import '@styles/typography';

.menu_list {
  display: flex;
  align-items: center;
}

.link {
  @include menu;

  &:not(:last-child) {
    background: red;
  }
  margin-right: 30px;

  &_active {
    color: $color-accent-main;
  }
}
